.footer-container{
  background-color: #121619;
}
.footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  .contact-us{
    width: 40%;
  }
  .contact-1, .contact-2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color:#fff;
    padding-top: 20px;
  } 
  .address{
    display: flex;
    width: 65%;
  }
  .address-text{
    padding-left: 10px;
  }
  .phone-no{
    display: flex;
    width: 35%;
    padding-left: 7px;
  }
  .phone{
    padding-left: 10px;
  }
  .icon{
    color: white;
    
  }
  .socialMedia{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
  }
  .icons{
    width: 50%;
    text-align: center;
  }
  .footer p {
    color: white;
  }
  @media only screen and (max-width: 800px){
    .contact-us{
      width: 100%;
    }
    .socialMedia{
      width: 100%;
    }
    .icons{
      width: 25%;
    }
}
