.footer {
    width: 100%;
    height: 150px;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media (max-width:500p){
    .socialMedia svg{
      color: white;
      margin: auto;
      font-size: 70px;
      cursor: pointer;
      align-items:center;
    }
  }
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }
  
  @media screen and (max-width:500px){
    .socialMedia svg{
      
      margin: auto;
      align-items: center;
    }
  }
 