body{
    background-color:#dcdcdc;
}

h2{
    text-align: center;
}
iframe{
    display: block;
    margin: auto;
    border: solid darkcyan;
}

.videoContainer{
    padding: 10px;
}
.picture{
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

